@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@400;500&family=Shrikhand&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
   }

   
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
h2 {
    padding: 0 26px;
    padding-top: 22px;
}
h3 {
    margin: 0;
}
p {
    margin: 0;
}
h4 {
    margin: 0;
}
h5 {
    font-size: 17px;
    font-weight: 500;
}
h6 {
    padding: 0 13px;

}