@import "../utils/mixins.scss";

#homepage .carte {
  background-color: #f6f6f6;
  height: 864px;
  @media (max-width: 650px) {
    height: 1432px;
    }
  h2 {
    padding-top: 50px;
  }

  .carte__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 25px;
    @media (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
    }
   

    .new {
      position: relative;
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      height: 32px;
      width: 80px;
      background-color: #99e2d0;
      color: #006400;
      display: grid;
      place-items: center;
      right: 16px;
      top: 16px;
    }
  }
  .menus {
    & .image1 {
      height: 240px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
    }
    & .image2 {
      height: 240px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
    }
    & .image3 {
      height: 240px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
    }
    & .image4 {
      height: 240px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
    }
  }
  & .description {
   @include coeur-animation;
    p {
      padding: 8px;
      padding-bottom: 0;
      padding-left: 14px;
    }
    h3 {
      padding-top: 15px;
      margin-left: 14px;
    }
  }
}
