footer {
    background-color: #353535;
    padding: 16px 10px;
    color: white;
    h2 {
        font-family: "shrikhand", "sans-serif";
        font-weight: 500;
        padding-bottom: 16px;
    }
    p { 
       margin: 16px;
    }
}