
main .ville {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #EAEAEA;
    height: 60px;
    text-align: center;
    i {
        font-size: 18px;
    }
}