@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding: 0 15px;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  font-size: 17px;
  font-weight: 500;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 8px;
  padding: 2.8px;
  position: relative;
}

main .ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #EAEAEA;
  text-align: center;
}
main .ville i {
  font-size: 18px;
}

@keyframes appearance {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
.explorer {
  background-color: #f6f6f6;
  height: 325px;
  text-align: center;
  padding-top: 40px;
}
.explorer h2 {
  margin: 0px;
  font-size: 32px;
}
.explorer p {
  font-size: 16px;
  margin: 20px;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 24px;
  border: none;
  border-radius: 30px;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.02);
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  transform-origin: top;
  animation: disappear 200ms 3s forwards;
}

.cercle-anim {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #E17CDD;
  animation: spin 2s linear infinite;
}

.cercle-anim::before, .cercle-anim::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.cercle-anim::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: rgb(209, 118, 221);
  animation: spin 3s linear infinite;
}

.cercle-anim::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: rgb(147, 86, 220);
  animation: spin 1.5s linear infinite;
}

.fonctions {
  counter-reset: nums;
  margin-bottom: 50px;
}
.fonctions ol {
  display: flex;
  gap: 24px;
}
@media (max-width: 1018px) {
  .fonctions ol {
    flex-direction: column;
  }
}
.fonctions li {
  position: relative;
  font-weight: bold;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  margin-right: 35px;
}
.fonctions li::before {
  content: counter(nums);
  counter-increment: nums;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 6px;
  left: -16px;
  transform: translateY(-50%);
}
.fonctions li:hover {
  transform: scale(1.02);
  background-color: #e4d5f6;
}
.fonctions li:hover i {
  color: #9356dc;
}
.fonctions li i {
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 24px;
}

#homepage .carte {
  background-color: #f6f6f6;
  height: 864px;
}
@media (max-width: 600px) {
  #homepage .carte {
    height: 1570px;
  }
}
#homepage .carte h2 {
  margin-bottom: 32px;
  padding-top: 50px;
}
#homepage .carte .carte__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 25px;
}
@media (max-width: 650px) {
  #homepage .carte .carte__menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .carte .carte__menu .new {
  position: relative;
}
#homepage .carte .carte__menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99e2d0;
  color: #006400;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
#homepage .carte .menus .image {
  height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 16px 16px 0 0;
}
#homepage .carte .menus .image1 {
  background-image: url(./images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
#homepage .carte .menus .image2 {
  background-image: url(./images/stil-u2Lp8tXIcjw-unsplash.jpg);
}
#homepage .carte .menus .image3 {
  background-image: url(./images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
#homepage .carte .menus .image4 {
  background-image: url(./images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
#homepage .carte .description {
  position: relative;
  background-color: white;
  height: 85px;
  border-radius: 0 0 16px 16px;
  margin-top: -29px;
}
#homepage .carte .description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  right: 30px;
  top: 42%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .carte .description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 32px;
  right: 30px;
  top: 42%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .carte .description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#homepage .carte .description p {
  padding: 8px;
  padding-bottom: 0;
  padding-left: 14px;
}
#homepage .carte .description h3 {
  padding-top: 15px;
  margin-left: 14px;
}

footer {
  background-color: #353535;
  padding: 16px 10px;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  padding-bottom: 3px;
}
footer p {
  margin: 16px;
}

@keyframes appearance {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
#page-menu header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#page-menu header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  transition: transform 200ms;
}
#page-menu .picture img {
  display: block;
  width: 100%;
  height: 44vh;
  object-fit: cover;
  object-position: unset;
}
#page-menu .titre {
  margin-top: -60px;
  position: relative;
  background-color: white;
  height: 85px;
  border-radius: 0 0 16px 16px;
  margin-top: -29px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}
#page-menu .titre::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  right: 30px;
  top: 42%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#page-menu .titre::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 32px;
  right: 30px;
  top: 42%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#page-menu .titre:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#page-menu .titre h2 {
  font-family: "shrikhand", "sans-serif";
  padding: 32px 16px;
  border-radius: 32px 32px 0 0;
  margin: 0;
}
#page-menu .menu-gout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 901px) {
  #page-menu .menu-gout {
    grid-template-columns: 1fr;
  }
}
#page-menu .resto-main {
  padding: 0 16px;
  background-color: #f6f6f6;
}
#page-menu h3 {
  padding-bottom: 25px;
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  padding-left: 20px;
}
#page-menu h3::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 20px;
  height: 5px;
  width: 46px;
  background-color: #99e2d0;
}
#page-menu .menus_categorie {
  overflow: hidden;
}
#page-menu .menus_categorie .menu-carte {
  display: flex;
  background-color: white;
  overflow: hidden;
  border-radius: 16px;
  margin: 20px;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  animation: appearance 1s;
  animation-fill-mode: both;
}
#page-menu .menus_categorie .menu-carte:nth-child(1) {
  animation-delay: 100ms;
}
#page-menu .menus_categorie .menu-carte:nth-child(2) {
  animation-delay: 200ms;
}
#page-menu .menus_categorie .menu-carte:nth-child(3) {
  animation-delay: 300ms;
}
#page-menu .menus_categorie .menu-carte .menu_carte_prix {
  margin-left: auto;
  font-weight: 900;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
#page-menu .menus_categorie .menu-carte .menu-carte_description {
  padding: 16px;
  overflow: hidden;
}
#page-menu .menus_categorie .menu-carte .menu-carte_description h4,
#page-menu .menus_categorie .menu-carte .menu-carte_description p {
  padding: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-menu .menus_categorie .menu-carte .menu-carte_validation {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background-color: #99e2d0;
  border-radius: 0 16px 16px 0;
  margin-right: -68px;
  width: 68px;
  transition: margin-right 0.5s;
}
#page-menu .menus_categorie .menu-carte .menu-carte_validation i {
  display: grid;
  place-items: center;
  background: white;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  color: #99e2d0;
}
#page-menu .menus_categorie .menu-carte:hover {
  cursor: pointer;
}
#page-menu .menus_categorie .menu-carte:hover .menu-carte_validation {
  margin-right: 0;
}
#page-menu .menus_categorie .menu-carte:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

div.commande {
  height: 25vh;
  display: grid;
  place-items: center;
}
div.commande button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 24px;
  border: none;
  border-radius: 30px;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
div.commande button:hover {
  transform: scale(1.02);
}

/*# sourceMappingURL=style.css.map */
