@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@400;500&family=Shrikhand&display=swap");
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 112px;
}
@media (max-width: 1000px) {
  main {
    padding: 0 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h3, p {
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 8px;
  padding: 4.8px;
  position: relative;
}

main .ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 8px;
}
main .ville i {
  font-size: 24px;
}

/* EXPLORER */
.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 32px;
  font-size: 32px;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 24px;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 1px 8px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  margin-top: 16px;
}
.explorer button:hover {
  transform: scale(1.02);
}

h2 {
  padding: 0 10px;
}

.fonctions {
  counter-reset: nums;
  margin-bottom: 32px;
}
.fonctions ol {
  display: flex;
  gap: 24px;
}
@media (max-width: 1000px) {
  .fonctions ol {
    flex-direction: column;
  }
}
.fonctions li {
  position: relative;
  list-style: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 8px -3px #000000;
  margin-right: 35px;
}
.fonctions li::before {
  content: counter(nums);
  counter-increment: nums;
  color: white;
  background-color: #9356dc;
  width: 31px;
  height: 31px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.fonctions li:hover {
  transform: scale(1.02);
}
.fonctions li i {
  margin-right: 16px;
  color: #7e7e7e;
}

.carte {
  background-color: #f6f6f6;
}
.carte h2 {
  margin-bottom: 32px;
  padding-top: 60px;
}
.carte .carte__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 867px) {
  .carte .carte__menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
.carte .carte__menu .new {
  position: relative;
}
.carte .carte__menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99e2d0;
  color: #006400;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
.carte .menus .image {
  height: 240px;
  background-size: cover;
  border-radius: 16px 16px 0 0;
}
.carte .menus .image1 {
  background-image: url(./images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.carte .menus .image2 {
  background-image: url(./images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.carte .menus .image3 {
  background-image: url(./images/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.carte .menus .image4 {
  background-image: url(./images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.carte .description {
  position: relative;
  background-color: white;
  height: 85px;
  border-radius: 0 0 16px 16px;
}
.carte .description h3, .carte .description p {
  padding: 8px;
}
.carte .description h3 {
  padding-top: 16px;
}
.carte .description i {
  font-size: 32px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #353535;
  padding: 16px 10px;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  padding-bottom: 16px;
}
footer p {
  margin: 16px;
}

/*# sourceMappingURL=style.css.map */
