@mixin buttons {
    color: white;
    font-weight: 300;
    width: 211px;
    font-size: 15px;
    font-family: "roboto", "sans-serif";
    padding:  16px 24px;
    border: none;
    border-radius: 30px;
    margin-top: 22px;
    cursor: pointer;
}
